---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import RecipeInstructions from '../../components/RecipeInstructions.astro';
import { recipes } from '../../recipes';

interface Props {
  recipe: { title: string; slug: string };
}

export function getStaticPaths() {
  return [...recipes.keys()].map((slug) => ({
    params: { slug },
  }));
}

const { slug } = Astro.params;
const recipe = recipes.get(slug!)!;
---

<Layout title={`Tabemos | ${recipe.title}`}>
  <head>
    <meta property="og:title" content={recipe.title} />
    <meta property="og:image" content={`../../photos/${recipe.slug}.jpg`} />
    <meta property="og:description" content={`Check out this recipe for ${recipe.title}`} />
    <meta property="og:type" content="article" />
  </head>
  <div class="flex flex-col items-center" itemscope itemtype="https://schema.org/Recipe">
    <h1 class="text-5xl font-bold mb-8" itemprop="name">{recipe.title}</h1>
    <Image
      width={606}
      height={456}
      src={import(`../../photos/${recipe.slug}.jpg`)}
      alt="Photo"
      itemprop="image"
    />
    <RecipeInstructions recipe={recipe} />
  </div>
</Layout>
